
.git/
.idea/

**/__pycache__/

hub_datasets/
dotenv/

**/char_ner_train.zip
**/data.zip
**/yidu-s4k.zip

**/bank
**/char_ner_train
**/Chinese-Literature-NER-RE-Dataset-master
**/cluener_public
**/golden-horse-master
**/LatticeLSTM-master
**/ner_incomplete_annotation-master
**/trainingdata04
**/yidu-s4k
